<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">

                            




 <div class="container" style="font-size: 14px;" >
            

    <section class="mt-0 pt-0 d-flex justify-content-center loginForm" >
        <div class="container cl-10 col-sm-8 col-md-6 col-lg-9 pt-0 mt-4">
            <div class="row pb-2 p-5" style="background-color:  #eeeeee; border-radius: 6px; box-shadow:  0px 0px 20px 2px  rgb(187, 187, 187);">
                <form class="pt-0" enctype="multipart/form-data" id="addProduct" action="/admin/addNewVarient?product={{product}}" method="POST">
                
                    <h3 class="text-center loginTitle mb-2">Add new varient</h3>
                    {{#if pErr}}
                    <p  class="text-danger text-center mt-1">{{pErr}}</p>
                    {{/if}}
            
                    
                   

                    <div class="row mt-5">

                        <div class="col-3 ">
                            <label class="">Select Size</label>
                            <select class="form-select" style="padding: 6px;"  name="sizes" id="Psizes">
                                <option selected value="">Choose...size</option>
                                <option value="9">9</option>
                            </select>

                        </div>
                        <div class="col-2">

                            <label class="">Color</label>
                            <input type="text" class="form-control"  name="color" >

                        </div>
                        <div class="col-5">
                            <div class="row">

                            <div class="col-8">

                            <label class="" >landing cost</label>
                            <input type="text" class="form-control"  name="landingcost" >
                            </div>
                            <div class="col-4">

                                <label class="">MRP</label>
                                <input type="text" class="form-control"  name="mrp" >

                            </div>
                            </div>

                        </div>
                        <div class="col-2">

                            <label class="">Quantity</label>
                            <input type="text" class="form-control"  name="quantity" >

                        </div>


                    </div>

                 
                   <div class="row">

                    <div class="cl-lg-4 text-center mb-0 d-flex justify-content-center">
                        <button id="confirm-btn" type="submit" class="btn btn-primary " style="background-color: blue; margin-top:20px; width: 80px">Add</button>
                    </div>
                    </div>
                </form>
                
            </div>
        </div>
    </section>

   
   
    </div>
    </div>
    
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="/javascripts/addProduct.js"></script>


            

            

     
        


  
  

