<section class="mt-0 pt-0 d-flex justify-content-center loginForm mt-2 pt-5" >
        <div class="container cl-10 col-sm-8 col-md-6 col-lg-3 pt-5 mt-5">
            <div class="row pt-2 pb-2  p-5" style="background-color: rgb(222, 221, 221); border-radius: 6px;">
                <form class="pt-2" action="/admin/login" method="POST">
                   <h3 class="text-center loginTitle pb-1 mb-2 mb-1">Admin Log in</h3>
                   {{#if passwordErr}}
                   <p  class="text-danger text-center mt-1">Password did not match</p>
                   {{/if}}
                   {{#if emailErr}}
                   <p  class="text-danger text-center mt-1">Email did not match</p>
                   {{/if}}
                   <div class="mt-0">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" value="asif@mail.com" name="email" aria-describedby="emailHelp">
                    </div>
                    <div class="">
                        <label  class="form-label">Password</label>
                        <input type="password" class="form-control" value="12345678" name="password">
                    </div>
                    <div class="cl-lg-4 text-center pt-2 mb-3">
                        <button type="submit" class="btn btn-primary loginFormButton">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </section>