{{!-- <h1>otp page</h1> --}}
<section class="mt-0 pt-0 d-flex justify-content-center loginForm">
        <div class="container cl-10 col-sm-8 col-md-6 col-lg-3 pt-5 mt-4">
            <div class="row pb-2 p-5" style="background-color: rgb(222, 221, 221); border-radius: 6px;">
                {{!-- <form class="pt-0" method="POST"> --}}
                   <h3 class="text-center loginTitle">Otp Validation</h3>

                   <p class="text-center text-danger otpErr" id="otpErr">Invalid Otp</p>
                   
                    <div class="mt-2 text-center">
                        <span class="text-center text-dark fw-bold mb-0">Enter Otp sent to your mobile</span>
                        <div class="row mt-2 d-flex justify-content-center">
                            <input type="text" id="otp1" onkeyup="move(event,'','otp1','otp2')" maxlength="1" class="form-control otpinput"  name="otp">
                            <input type="text" id="otp2" onkeyup="move(event,'otp1','otp2','otp3')" maxlength="1" class="form-control ms-3 otpinput" name="otp">
                            <input type="text" id="otp3" onkeyup="move(event,'otp2','otp3','otp4')" maxlength="1" class="form-control ms-3 otpinput" name="otp">
                            <input type="text" id="otp4" onkeyup="move(event,'otp3','otp4','')" maxlength="1" class="form-control ms-3 otpinput" name="otp">
                        
                         <input type="text" hidden id="mobile" class="" value="{{userMobile}}" >
                        
                        </div>
                        
                    </div>
                    <h6 class="text-center text-danger" id="otpTimer"></h6>
                    <h6 class="text-center text-danger hide" id="resendotpTimer"></h6>
                    <div class="row d-flex justify-content-center mb-2 mt-2" style="margin-left: auto; margin-right:auto">
                        <div class="text-center">
                            <button type="submit" onclick="signOtpSend()" class="btn btn-primary loginFormButton " >Confirm</button>
                            
                        </div>
                        <div class="text-center mt-2">
                            <button style="width:70px !important" class="btn btn-primary loginFormButton isDisabled"  onclick="restCoundown()" id="otpResendButton"><span  >Resend otp?</span></button>
                            
                        </div>
                        
                    </div>
                {{!-- </form> --}}
                
                
            </div>
        </div>
    </section>

<script>
        let move=(e,p,c,n)=>{
    var length = document.getElementById(c).value.length;
    var maxlength = document.getElementById(c).getAttribute("maxlength");
    if(length==maxlength){
        if(n!=''){
            document.getElementById(n).focus();
        }
    }
    if(e.key=="Backspace"){
        if(p!=''){
            document.getElementById(p).focus();
        }
        
    }
}

const startOtpCount = 1;
let time = startOtpCount*60;
const countdown = document.getElementById('otpTimer');
const resendOtpButton = document.getElementById('otpResendButton');

var t = setInterval(updateCoundown,1000);

function updateCoundown(){

    const minutes = Math.floor(time/60);
    let seconds = time % 60;

    seconds = seconds < 10 ? '0' + seconds : seconds;

    countdown.innerHTML = `${minutes}:${seconds}`;
    if(minutes<0){
        clearInterval(t);
        countdown.innerHTML = `00:00`;
        resendOtpButton.classList.remove('isDisabled');
    }else{
        time--;
    }
    
}



 function signOtpSend(){

    //console.log('ouasdas')

        var first = document.getElementById("otp1").value;
        var second = document.getElementById("otp2").value;
        var third = document.getElementById("otp3").value;
        var fourth = document.getElementById("otp4").value;
        

        var otpnumber = first+second+third+fourth
        var phoneNumber = document.getElementById("mobile").value;


    $.ajax({
    url:'/changePasswordOtpConfirm?phonenumber='+phoneNumber+'&otpnumber='+otpnumber,
    method:'get',
    success:(response)=>{
    if(response){
        window.location.replace("/resetPasswordPage");
    }else{
        document.getElementById("otpErr").classList.remove("otpErr");
    }
    }
    })
} 


resendOtpButton.addEventListener('click',resetTimer)

function resetTimer(){

    // setInterval(updateCoundown,1000);

    countdown.classList.add('hide')
    document.getElementById('resendotpTimer').classList.remove('hide')




 
        var timeleft = 15;
    
        var downloadTimer = setInterval(function function1(){
        document.getElementById('resendotpTimer').innerHTML = timeleft + 
        " "+"seconds remaining";
    
        timeleft -= 1;
        if(timeleft <= 0){
            clearInterval(downloadTimer);
            document.getElementById('resendotpTimer').innerHTML = "Time is up!"
        }
        }, 1000);
    
        console.log(countdown);

        var phoneNumber = document.getElementById("mobile").value;

        $.ajax({
            url:'/otpResend?phonenumber='+phoneNumber,
            method:'get',
            success:(response)=>{
                if(response){
                    
                }else{
                    document.getElementById("otpErr").classList.remove("otpErr");
                }
            }
        })



    

    
}

    </script>