
<section class="mt-0 pt-0 d-flex justify-content-center loginForm" >
    <div class="container cl-10 col-sm-8 col-md-6 col-lg-3 pt-2 mt-4">
        <div class="row pb-2 p-5 mt-5 pt-5" style="background-color:  #eeeeee; border-radius: 6px; box-shadow:  0px 0px 20px 2px  rgb(187, 187, 187);">
            {{!-- <form class="pt-0" id="user-signup" action="/login" method="POST">
                <h3 class="text-center loginTitle">Log in</h3>
                {{#if loginERR}}
                <p  class="text-danger text-center mt-1">{{loginERR}}</p>
                {{/if}}
                <div class="">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" value="asif@mail.com" name="email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your data with anyone else.</div>
                </div>
                <div class="">
                    <label  class="form-label">Password</label>
                    <input type="password" class="form-control" value="12345678" name="password">
                </div>
                <div class="cl-lg-4 text-center mb-0">
                    <button type="submit" class="btn btn-primary loginFormButton">Log in</button>
                </div>
            </form> --}}
            
            
            <div class="">

                <form action="/ChangePasswordOtp" id="otpLogin" method="post" id="otp" >
                    <h4 class="text-center mt-1 mb-3">Reset Password</h4>
                    {{#if userNotFound}}
                            <p  class="text-danger text-center mt-1 mb-1">{{userNotFound}}</p>
                    {{/if}}
                    <div class=" text-center">
                        <label  class="form-label mt-1 mb-2">Enter your registered mobile</label>
                        <input type="text" class="form-control text-center" value="9746874466" id="mobile" name="mobile">
                    </div>
                    <div class="cl-lg-4 text-center mb-3 mt-4">
                        
                        <button type="submit" class="btn btn-primary loginFormButton">Send OTP</button>
                    </div>
                    {{!-- <p  class=" text-center mt-2"> <a class="form-label" href="/userSignUp"> Create new account?</a></p> --}}
                </form>

            </div>
            
        </div>
    </div>
</section>