  
	{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --}}
  

<section class="mt-0 pt-2 d-flex justify-content-center loginForm pt-5 mt-5" >
        <div class="container cl-10 col-sm-8 col-md-6 col-lg-4 pt-0 mt-0">
            <div class="row p-3" style="background-color:  #eeeeee; border-radius: 6px; box-shadow:  0px 0px 20px 2px  rgb(187, 187, 187);">
                <form class="pt-0" id="user-signup" action="/signUpAction" method="POST">
                   <h3 class="text-center loginTitle mt-1">Sign Up</h3>
                    
                   <div class="row mb-0">
                       <div class=" col-lg-6">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control text" value="asif"  name="first_name" >
                        
                    </div>
                    <div class=" col-lg-6">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control text" value="azad" name="lastname" >
                    </div>
                   {{!-- <div id="emailHelp" class="form-text ps-3" style="margin-top: -7px; margin-bottom:7px;">We'll never share your personal data with anyone else.</div> --}}
                    </div>
                    <div class="mb-2">
                        <label  class="form-label">Email</label>
                        <input type="text" class="form-control" value="asif@mail.com" name="email">
                    </div>
                    {{#if signUpErr}}
                    <p  class="text-danger text-center mt-1">{{signUpErr}}</p>
                    {{/if}}
                    <div class="mb-2">
                        <label  class="form-label">Mobile</label>
                        <input type="text" class="form-control" value="9746874466" id="mobile" name="mobile">
                    </div>
                    <div class="mb-2">
                        <label  class="form-label">Password</label>
                        <input type="password" class="form-control" value="123456789" id="password" name="password">
                    </div>
                    <div class="mb-2">
                        <label  class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" value="123456789" id="confirmPassword" name="confirmPassword">
                    </div>
                    <div class="cl-lg-4 text-center mb-2">
                        <button type="submit" class="btn btn-primary loginFormButton">Sign Up</button>
                    </div>
                    
                  </form>
            </div>
        </div>
    </section>

    <script src="assets/js/jquery.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="/javascripts/signUp.js"></script>

        
       
       